<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Shorty</title>
    <link rel="stylesheet" href="../static/css/common/dark_theme.css">

</head>

<body>
<header class="header-line">
    <div class="logo">
        <b>Shorty</b>
    </div>
</header>
<div class="wrapper">
    <main>
        <form th:action="@{/}" th:method="POST" th:object="${newAssociation}">
            <input name="destination" th:value="${newAssociation.destination}" type="url" placeholder="Destination url">
            <input name="alias" th:value="${newAssociation.alias}" type="text" placeholder="Alias">
            <input type="submit">
        </form>
    </main>
</div>

<footer>
    <p>Текст футера</p>
</footer>

</body>

</html>